
h1,
.jumbotron h1 {
    color: #337ab7;
}

.warning {
    color: #aa6708;
}


.jumbotron {
    padding-bottom: 0;
    background: none;
}

.crux {
    h3 {
        font-size: 17px;
        font-weight: normal;
    }
}
